/* Journal.css */
.slider-container {
    margin-top: 5px;
    position: relative;
  }
  
  .slider {
    width: 95%;
    margin: 5px 0;
  }
  
  .slider-labels {
    display: flex;
    justify-content: space-between;
  }
  
  .slider-value {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
  }
  
  label {
    display: block;
    margin-top: 15px;
    font-size: 18px;
  }

  .entries {
    width: 95%;
    margin-bottom: 5px;
  }

.search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }